.WeatherForecast {
  padding: 15px 5px;
  margin: 10px 5px;
}

.WeatherForecast h3 {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 400;
}

.WeatherForecast p {
  margin-bottom: 2px;
  text-align: center;
}

.WeatherForecast .forecast-section {
  padding: 15px 10px;
}

.WeatherForecast .forecast-section .day-forecast {
  font-size: 19px;
  padding-bottom: 10px;
}

.WeatherForecast .left-forecast,
.WeatherForecast .right-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WeatherForecast .right-forecast p {
  font-size: 35px;
  font-weight: 200;
  color: rgb(239, 247, 255);
}

.WeatherForecast .right-forecast strong {
  font-size: 35px;
  font-weight: 500;
  color: white;
}

.WeatherForecast .left-forecast .icon-forecast {
  width: 50px;
}

@media (max-width: 1215px) {
  .WeatherForecast {
    padding: 5px 5px;
    margin: 15px 5px;
  }
  .WeatherForecast h3 {
    font-size: 20px;
    margin: 10px 0px;
  }

  .WeatherForecast .forecast-section .day-forecast {
    font-size: 15px;
    padding-bottom: 15px;
  }
  .WeatherForecast hr {
    margin: 10px 5px;
  }
}
@media (max-width: 1161px) {
  .WeatherForecast h3 {
    font-size: 20px;
    margin: 10px 0px;
  }
  .WeatherForecast .forecast-section .day-forecast {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .WeatherForecast hr {
    margin: 10px 5px;
  }
}

@media (max-width: 983px) {
  .WeatherForecast {
    padding: 10px 5px;
    margin: 15px 5px;
  }

  .WeatherForecast hr {
    margin: 10px 5px;
  }
}

@media (max-width: 780px) {
  .WeatherForecast {
    padding: 5px 5px;
    margin: 10px 5px;
  }
  .WeatherForecast hr {
    margin: 2px 5px;
  }
  .WeatherForecast .forecast-section .day-forecast {
    font-size: 18px;
    padding-bottom: 15px;
  }
  .WeatherForecast h3 {
    font-size: 20px;
    margin: 25px 0px;
  }
}

@media (max-width: 768px) {
  .WeatherForecast {
    padding: 5px 5px;
    margin: 20px 5px;
  }

  .WeatherForecast h3 {
    margin: 15px 0px;
  }
}
