.Weather {
  display: block;
  margin: 20px auto;
  width: 95%;
  max-width: 1200px;
  border-radius: 15px;
  border: 1px solid rgb(73, 71, 158);
}

/* UPPER SECTION WEATHER */
.Weather .upper-section-main {
  padding: 20px;
  border-radius: 15px;
  padding-bottom: 500px;
  /*background-image: url("../img/01d.png");*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Weather .upper-section-main form {
  margin: 20px 10px;
  text-align: center;
}

.Weather .upper-section-main .btn-search {
  width: 90%;
  color: rgb(68, 143, 204);
}

.Weather .upper-section-main .btn-search:hover {
  color: white;
  background-color: rgb(88, 167, 231);
  border: 1px solid rgb(88, 167, 231);
}

.Weather .upper-section-main .city-title-section {
  display: flex;
  flex-direction: row;
  margin: 40px 0 10px 20px;
}

.Weather .upper-section-main .location-icon {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.Weather .upper-section-main h2 {
  text-transform: uppercase;
  font-size: 45px;
  text-align: left;
  font-weight: 400;
}

.Weather .upper-section-main h3 {
  text-align: left;
  margin: 0 0 15px 90px;
  font-weight: 300;
}

.Weather .upper-section-main .weather-results {
  margin: 20px 30px;
}

.Weather .upper-section-main .weather-results .weather-temperature-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Weather .upper-section-main .weather-now {
  width: 100px;
}

.Weather .upper-section-main h4 {
  font-size: 20px;
  font-weight: 400;
}

.Weather .upper-section-main .weather-temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Weather .upper-section-main h1 {
  font-size: 110px;
  font-weight: 200;
}

.Weather .upper-section-main sup {
  font-size: 35px;
  font-weight: 300;
  position: relative;
  top: -52px;
}

/* LOWER SECTION WEATHER */
.Weather .lower-section-main {
  background-color: #c797b6;
  padding: 20px;
  margin-top: 10px;
  border-radius: 15px;
  padding-bottom: 500px;
  padding: 20px;
}

.Weather .lower-section-main p {
  font-size: 20px;
}

.Weather .lower-section-main .weather-feels,
.Weather .lower-section-main .weather-max-min {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Weather .lower-section-main li {
  font-size: 20px;
}

.Weather .lower-section-main .weather-now {
  width: 80px;
}

.Weather .lower-section-main .feels-like-right,
.Weather .lower-section-main .feels-like-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Weather .lower-section-main .feels-like-right p {
  margin-bottom: 0;
}

.Weather .lower-section-main .weather-stats-icon {
  width: 30px;
}

.Weather .lower-section-main .weather-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.Weather .lower-section-main .weather-stats ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.Weather .lower-section-main .max-min-temperature-left,
.Weather .lower-section-main .max-min-temperature-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Weather .lower-section-main .max-min-temperature-right ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.Weather .lower-section-main .weather-max-min-icon {
  width: 80px;
}

/* Small devices */
@media (max-width: 580px) {
  /* UPPER SECTION WEATHER */

  .Weather .upper-section-main {
    padding: 20px;
    border-radius: 15px;
    padding-bottom: 300px;
  }
  .Weather .upper-section-main .btn-search {
    margin-top: 15px;
    width: 100%;
  }

  .Weather .upper-section-main .city-title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0 10px 0;
  }

  .Weather .upper-section-main .location-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .Weather .upper-section-main h2 {
    font-size: 30px;
  }

  .Weather .upper-section-main h3 {
    text-align: center;
    margin: 0 0 15px 0;
  }

  .Weather .upper-section-main h1 {
    font-size: 70px;
  }

  .Weather .upper-section-main sup {
    font-size: 25px;
    position: relative;
    top: -30px;
  }

  /* LOWER SECTION WEATHER */
  .Weather .lower-section-main .weather-feels {
    margin-bottom: 25px;
  }

  .Weather .lower-section-main .weather-stats {
    margin-bottom: 25px;
  }
}

@media (max-width: 280px) {
  /* UPPER SECTION WEATHER */

  .Weather .upper-section-main .location-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .Weather .upper-section-main h2 {
    font-size: 20px;
  }

  .Weather .upper-section-main h3 {
    font-size: 18px;
  }
  .Weather .upper-section-main h1 {
    font-size: 40px;
  }

  .Weather .upper-section-main sup {
    font-size: 18px;
    position: relative;
    top: -15px;
  }

  /* LOWER SECTION WEATHER */
  .Weather .lower-section-main p {
    font-size: 15px;
  }
  .Weather .lower-section-main li {
    font-size: 15px;
  }
}
