.WeatherForecast {
  padding: 15px 5px;
}

.WeatherForecast p {
  margin-bottom: 5px;
}

.WeatherForecast ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
.WeatherForecast .forecast-section {
  padding: 15px 10px;
}
.WeatherForecast .left-forecast,
.WeatherForecast .right-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WeatherForecast .left-forecast .icon-forecast {
  width: 50px;
}
